body{
    text-align: center;
    background: linear-gradient(#E1BEE7 0%, 	#90CAF9 100%);
}
#img_1{
    
    width:300px;
    margin-top:30px;
}
.menu{
    list-style: none;
    font-family: cursive;
    float:right;
    top:10px;
    right:30px;
    cursor:pointer;
    color:black;
    
}
li {
  display: inline;
  padding: 15px;
    color:hover;
    
}
#welcome_section{
    font-family: 'Kiwi Maru', serif;
    text-align: center;
}
